@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  font-family: sans-serif;
}
.container{
  height: 100vh;
  width: 100%;
}
.logo a{
  color: #fff;
  text-decoration: none;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #004274;
  position: relative;
  height: 70px;
  padding: 10px 30px;
}
.logo{
  color: #fff;
}
nav ul{
  display: flex;
  align-items: center;
  gap: 30px;
}
nav ul li{
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
.menu-icon{
  color: #fff;
  font-size: 28px;
}
.menu-icon{
  display: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
}

.footer-item {
    flex: 0 0 33.33%; 
    max-width: 33.33%; 
}

.footer-item h3 {
    font-size: 1.2em;
}

.footer-item p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.quick-links {
    list-style-type: none;
    padding: 0;
}

.quick-links li {
    display: inline;
    margin-right: 10px;
}

.quick-links li a {
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 620px){
    footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 713px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 0;
        background: #004274;
        overflow: hidden;
    }
    nav ul li{
        padding: 10px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}

/* ---------body------ */
/* CARDS */

.card-container {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4em;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em;
}

.card {
  position: relative;
  background: #fff;
  max-width: 20em;
  width: 20em;
  height: auto;
  margin: 1.5em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.6);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image {
  max-height: 14em;
}

.card-image img {
  max-width: 100%;
  height: 14em;
}

.card-info {
  position: relative;
  color: #16123f;
  padding: 0.6em 2.2em 2.2em;
}

.card-info h3 {
  font-size: 1.8em;
  font-weight: 800;
  margin-bottom: 0.3em;
}

.card-info p {
  font-size: 1em;
  margin-bottom: 0.3em;
}


/* PAGINATION */

.pagination {
  text-align: center;
  margin: 1.9em 1.9em 3.8em;
  user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 0.3em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.3);
}

.pagination li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  line-height: 2.6em;
}

.previous-page,
.next-page {
  background: #0AB1CE;
  width: 5em;
  border-radius: 45px;
  cursor: pointer;
}

.previous-page:hover {
  transform: translateX(-5px);
}

.next-page:hover {
  transform: translateX(5px);
}

.current-page,
.dots {
  background: #ccc;
  width: 2.8em;
  border-radius: 50%;
  cursor: pointer;
}

.current-page:hover,
.dots:hover {
  transform: translateY(-5px);
}

.pagination li.active {
  background: #333;
}

.pagination li.disable {
  background: #ccc;
}

/* MEDIA QUERIES */

@media (max-width: 952px) {
  label.logo {
      font-size: 1.6rem;
      padding-left: 1rem;
  }
  nav ul li a {
      font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  body {
      font-size: 12px;
  }
  .pagination {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 100%;
  }
}
/* DISABLED */


.card-content {
  margin: 30px;
}
.card {
  max-width: 325px;
  width: 325px;
  height: auto;
  margin: 25px;
}
.card-image {
  max-height: 200px;
}
.card-image img {
  max-width: 100%;
  height: auto;
}
.card-info {
  padding: 10px 20px 20px;
}
.card-info h3 {
  margin-bottom: 5px;
}
.card-info p {
  margin-bottom: 5px;
}
.pagination {
  display: flex;
  flex-direction: row;
  margin: 30px 30px 60px;
}
.pagination li {
  margin: 5px;
}
.pagination li a {
  font-size: 1em;
  line-height: 35px; 
}
.previous-page,
.next-page {
  width: 60px; 
}
.current-page,
.dots {
  width: 35px; 
}
a{
  text-decoration: none;
}