@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #f0e8e8;
}
/*--------navbar-------*/
.header{
  background:  #ffffff;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  margin: 0px 10rem 0px 5rem;
}
.logo a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #212529 ;
}
.size{
  font-size: 2rem;
}
.nav ul{
  display: flex;
  justify-content: center;
}
.nav ul li{
  list-style-type: none;
}
.nav ul li a{
  text-decoration: none;
  padding: 1.2rem;
  color: #212529;
  font-weight: bolder;
  font-size: 1.2rem;
}
.nav ul li a:hover{
  color:rgba(79, 135, 251,0.9);
}
/* ----drop down----- */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* ----drop down close--- */
/* -------navbar-----close */

/* -------footer---------*/
.footer{
  background: rgba(22, 18, 63,0.9);
  padding: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 ;
}
.footer-logo{
  margin-right: 30rem;
}
.footer-logo p{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #ffffff;
  margin: 0px 0px 0px 5rem;
}
.size{
  font-size: 2rem;
}
.grey{
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}
/* -----footer close-------- */

/* ---------body------ */
/* CARDS */

.card-container {
  min-height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4em;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em;
}

.card {
  position: relative;
  background: #fff;
  max-width: 20em;
  width: 20em;
  height: auto;
  margin: 1.5em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.6);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image {
  max-height: 14em;
}

.card-image img {
  max-width: 100%;
  height: 14em;
}

.card-info {
  position: relative;
  color: #16123f;
  padding: 0.6em 2.2em 2.2em;
}

.card-info h3 {
  font-size: 1.8em;
  font-weight: 800;
  margin-bottom: 0.3em;
}

.card-info p {
  font-size: 1em;
  margin-bottom: 0.3em;
}


/* PAGINATION */

.pagination {
  text-align: center;
  margin: 1.9em 1.9em 3.8em;
  user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 0.3em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.3);
}

.pagination li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  line-height: 2.6em;
}

.previous-page,
.next-page {
  background: #0AB1CE;
  width: 5em;
  border-radius: 45px;
  cursor: pointer;
}

.previous-page:hover {
  transform: translateX(-5px);
}

.next-page:hover {
  transform: translateX(5px);
}

.current-page,
.dots {
  background: #ccc;
  width: 2.8em;
  border-radius: 50%;
  cursor: pointer;
}

.current-page:hover,
.dots:hover {
  transform: translateY(-5px);
}

.pagination li.active {
  background: #333;
}

.pagination li.disable {
  background: #ccc;
}

/* MEDIA QUERIES */

@media (max-width: 952px) {
  label.logo {
      font-size: 1.6rem;
      padding-left: 1rem;
  }
  nav ul li a {
      font-size: 1rem;
  }
}

@media (min-width: 100px) and (max-width: 800px) {
  body {
      font-size: 12px;
  }
  .pagination {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 100%;
  }
}

@media (max-width: 858px) {
  .checkbtn {
      display: block;
  }
  nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #121211;
      top: 4rem;
      right: -100%;
      text-align: center;
      margin: 0;
  }
  nav ul li {
      display: block;
      margin: 3rem 0;
      line-height: 2rem;
  }
  nav ul li a {
      font-size: 1.3rem;
  }
  nav ul li a.active,
  nav ul li a:hover,
  nav ul li a:focus {
      background: none;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 600;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-radius: 0;
      text-decoration: none;
  }
  #check:checked~ul {
      right: 0;
  }
}


/* DISABLED */


.card-content {
  margin: 30px;
}
.card {
  max-width: 325px;
  width: 325px;
  height: auto;
  margin: 25px;
}
.card-image {
  max-height: 200px;
}
.card-image img {
  max-width: 100%;
  height: auto;
}
.card-info {
  padding: 10px 20px 20px;
}
.card-info h3 {
  margin-bottom: 5px;
}
.card-info p {
  margin-bottom: 5px;
}
.pagination {
  display: flex;
  flex-direction: row;
  margin: 30px 30px 60px;
}
.pagination li {
  margin: 5px;
}
.pagination li a {
  font-size: 1em;
  line-height: 35px; 
}
.previous-page,
.next-page {
  width: 60px; 
}
.current-page,
.dots {
  width: 35px; 
}
/* body{
  background: #FFFFFF;
background: -webkit-radial-gradient(top left, #FFFFFF, #C2D1E5);
background: -moz-radial-gradient(top left, #FFFFFF, #C2D1E5);
background: radial-gradient(to bottom right, #FFFFFF, #C2D1E5);
} */
a{
  text-decoration: none;
}