@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.header{
    background: #abd699;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 25rem;
}
.logo a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #16123f;
}
.size{
    font-size: 2rem;
}
.nav ul{
    display: flex;
    justify-content: center;
}
.nav ul li{
    list-style-type: none;
}
.nav ul li a{
    text-decoration: none;
    padding: 1.5rem;
    color: #16123f;
    font-weight: bold;
}
section{
    display: flex;
    align-items: center;
    margin: 0 3rem;
    background: #E3E6F3;
    padding: 1rem;
}
.info{
    flex-direction: column;
}
h2{
    color: #838aaa;
    font-weight: bolder;
}
p{
    color: #16123f;
}
.grey{
    color: rgb(6, 6, 18);
}
article{
    margin: 0 3rem;
    background: #E3E6F3;
    padding: 1rem;
    text-align: center;
}
.footer{
    background-color: #abd699;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #16123f;
    display: flex;
    align-items: center;
    margin-bottom: 0 ;
}
.footer-logo{
    margin-right: 30rem;
}
.footer-logo p{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #16123f;
}
.size{
    font-size: 2rem;
}
.grey{
    color: rgb(6, 6, 18);
    font-size: 1.5rem;
    font-weight: bold;
}
body{
    background: #FFFFFF;
background: -webkit-radial-gradient(top left, #FFFFFF, #C2D1E5);
background: -moz-radial-gradient(top left, #FFFFFF, #C2D1E5);
background: radial-gradient(to bottom right, #FFFFFF, #C2D1E5);
}