@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #f0e8e8;
}
/*--------navbar-------*/
.header{
    background:  #ffffff;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    margin: 0px 10rem 0px 5rem;
}
.logo a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #212529 ;
}
.size{
    font-size: 2rem;
}
.nav ul{
    display: flex;
    justify-content: center;
}
.nav ul li{
    list-style-type: none;
}
.nav ul li a{
    text-decoration: none;
    padding: 1.5rem;
    color: #212529;
    font-weight: bolder;
    font-size: 1.2rem;
}
.nav ul li a:hover{
    color:rgba(79, 135, 251,0.9);
}
/* ----drop down----- */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* ----drop down close--- */
/* -------navbar-----close */

/* -------footer---------*/
.footer{
    background: rgba(22, 18, 63,0.9);
    padding: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 ;
}
.footer-logo{
    margin-right: 30rem;
}
.footer-logo p{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #ffffff;
    margin: 0px 0px 0px 5rem;
}
.size{
    font-size: 2rem;
}
.grey{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}
/* -----footer close-------- */

/* ---------body------ */
section{
    /* display: flex;
    align-items: center; */
    margin: 0 3rem;
    background: #E3E6F3;
    padding: 1rem;
    margin: 1rem;
}
.cards{
    display: flex;
}
h2{
    color: #838aaa;
    font-weight: bolder;
}
.amazon{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(6, 6, 18);
    background: whitesmoke;
}
.item {
    width: 30%;
    color: #2d303f;
    font-weight: bolder;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container > div {
    flex: 34%; 
  }
  .item1{
    color: rgb(127, 127, 127);
  }
.livspace{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(6, 6, 18);
    background: whitesmoke;
}
.wipro{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(6, 6, 18);
    background: whitesmoke;
}
.freshwork{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(6, 6, 18);
    background: whitesmoke;
}