@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.header{
    background: #abd699;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.logo{
    margin-right: 25rem;
}
.logo a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #16123f;
}
.size{
    font-size: 2rem;
}
.nav ul{
    display: flex;
    justify-content: center;
}
.nav ul li{
    list-style-type: none;
}
.nav ul li a{
    text-decoration: none;
    padding: 1.5rem;
    color: #16123f;
    font-weight: bold;
}
.footer{
    background-color: #abd699;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #16123f;
    display: flex;
    align-items: center;
    margin-bottom: 0 ;
}
.footer-logo{
    margin-right: 30rem;
}
.footer-logo p{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #16123f;
}
.size{
    font-size: 2rem;
}
.grey{
    color: rgb(6, 6, 18);
    font-size: 1.5rem;
    font-weight: bold;
}
section{
    /* display: flex;
    align-items: center; */
    margin: 0 3rem;
    background: #E3E6F3;
    padding: 1rem;
    margin: 1rem;
}
.link{
    margin:0px 2rem 0px 0px;
}
.link a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #16123f;
}
.cards{
    display: flex;
}
h2{
    color: #838aaa;
    font-weight: bolder;
}
.amazon{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(6, 6, 18);
    background: whitesmoke;
}
.item {
    width: 30%;
    color: #2d303f;
    font-weight: bolder;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container > div {
    flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
    /* box-shadow: 0 0 0 1px black; */
    /* margin-bottom: 5px; */
  }
  .item1{
    color: rgb(127, 127, 127);
  }
.livspace{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(6, 6, 18);
    background: whitesmoke;
}
.wipro{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(6, 6, 18);
    background: whitesmoke;
}
.freshwork{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(6, 6, 18);
    background: whitesmoke;
}
.min-nav{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
}
.min-nav li{
    padding: 1rem;
    margin:0 2.5rem;
}
.min-nav li a{
    text-decoration: none;
    color:  #16123f;
    font-weight: bolder;
    background: whitesmoke;
}
.march{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(6, 6, 18);
    background: whitesmoke;
}
.febuary{
    padding: 0.5rem;
    margin: 1rem 10rem;
    border: 1px solid rgb(6, 6, 18);
    background: whitesmoke;
}
.month{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(6, 6, 18);
    background: whitesmoke;
}
.list{
    text-align: center;
    border: 1px solid rgb(6, 6, 18);
    background: white;
}
body{
    background: #FFFFFF;
background: -webkit-radial-gradient(top left, #FFFFFF, #C2D1E5);
background: -moz-radial-gradient(top left, #FFFFFF, #C2D1E5);
background: radial-gradient(to bottom right, #FFFFFF, #C2D1E5);
}