*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
}
.logo a{
    color: #fff;
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #004274;
    position: relative;
    height: 70px;
    padding: 10px 30px;
}
.logo{
    color: #fff;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
.menu-icon{
    color: #fff;
    font-size: 28px;
}
.menu-icon{
    display: none;
} 
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
}

.footer-item {
    flex: 0 0 33.33%; 
    max-width: 33.33%; 
}

.footer-item h3 {
    font-size: 1.2em;
}

.footer-item p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.quick-links {
    list-style-type: none;
    padding: 0;
}

.quick-links li {
    display: inline;
    margin-right: 10px;
}

.quick-links li a {
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 620px){
    footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 713px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 0;
        background: #004274;
        overflow: hidden;
    }
    nav ul li{
        padding: 10px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}
/* Default styles */
/* Apply box-sizing: border-box to all elements */
* {
    box-sizing: border-box;
  }
  
  /* Style the input */
  #myInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } 
  
  #myTable {
    width: 100%;
    border-collapse: collapse;
  }
  #myTable th {
    background-color: #f2f2f2   ;
    text-align: left;
    padding: 8px;
  }
  
  #myTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #myTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 600px) {
    #myTable {
      overflow-x: scroll;
      display: block;
    }
  }
  

  