*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
}
.exitimg{
    background: url(/images/exit.jpg);
    background-repeat: repeat-x;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #004274;
    position: relative;
    height: 70px;
    padding: 10px 30px;
}
.logo a{
    color: #fff;
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
.menu-icon{
    color: #fff;
    font-size: 28px;
}
.menu-icon{
    display: none;
}

section {
    background: #6d85f0;;
    padding: 20px;
  }
  
  .tac {
    text-align: center;
  }
  
  .information {
    margin-top: 20px;
  }
  .information h2{
    text-align: center;
    margin-bottom: 20px;
  }
  .grey {
    color: #fff;
  }
  
  .help {
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    section {
      padding: 10px;
    }
  }
  
  
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
}

.footer-item {
    flex: 0 0 33.33%; 
    max-width: 33.33%; 
}

.footer-item h3 {
    font-size: 1.2em;
}

.footer-item p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.quick-links {
    list-style-type: none;
    padding: 0;
}

.quick-links li {
    display: inline;
    margin-right: 10px;
}

.quick-links li a {
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 620px){
    footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 713px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 0;
        background: #004274;
        overflow: hidden;
    }
    nav ul li{
        padding: 10px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
    .exitimg{
      background-repeat: repeat;
    }
    .exitimg img{
        max-width: 100%;
    }
}
